.personal-info{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 79%;
    height: 19rem;
    color: #ffffff;

    &__avatar, .comment-avatar-holder{
        margin-top: 60px;
        width: 142px;
        height: 142px;
        border-radius: 50%;
        margin: 0 auto;
        overflow: hidden;
        background: #ffffff;

        &__img{
            border: none;
        }
    }


    &__about{
        text-align: center;
        margin-top: 35px;

        &__name{
            font-family: 'Roboto-Medium';
            font-size: 35px;
            margin:0 0 10px 0;
            font-weight: 500;
            
        }
        &__desc{
            font-family: 'Roboto';
            font-size: 16px;
            margin:0px;
            font-weight: 400;
        }
    }
}