*{
  box-sizing: border-box;
  outline: none;
}
html,body{
	height: 100%;
	width: 100%;
}

fix {
    zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}