.container {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.separator:after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 5.5rem;
    height: 0.18rem;
    background: #566358;
    left: 50%;
    bottom: -1.6rem;
    margin-left: -2.8rem;
}


.works-page-title{
    width: 100%;
    height: 9rem;
    background: #f8f9f5;
    float: left;
    position: relative;
    bottom: 0;

    &__svg{
        margin: 0 auto;
        width: 35%;

        .svg-page-title{
            width: 100%;
            fill: #93c42e;
            opacity: .1;
        }
    }

    &__page-name{
        top:0;
        height: 100%;
        line-height: 9rem;
        position: absolute;
        width: 100%;
        text-align: center;
        font-family: "Sansus";
        font-size: 4rem; 
        text-transform: uppercase;
        color: #373e42;

        @include phone{
            line-height: 3.5rem;
        }

        &:after{
            content: '';
            position: absolute;
            height: 0.2rem;
            width: 5.6rem;
            background: #373e42;
            margin-left: -2.8rem;
            left: 50%;
            bottom: 1.25rem;
        }
    }
}

.social-icons{
    height: 2rem;
    float: left;

    & .icon-holder{
        float: left;
        width: 2rem;
        height: 100%;
        margin-right: 1.5rem;
    }

    &_sprite{
        line-height: 2rem;
        width: 2rem;
        height: 2rem;
        fill: #f8f9f5;
        vertical-align: middle;
        cursor: pointer;
        
        &:hover{
            fill: #4e8839;
            transition: .25s ease;
        }
    }
}

.down-arrow-button{
    margin: 0 auto;
    margin-top: -23vh;
    width: 1.6rem;
    height: 1rem;

    &__link{
       float: left;
       height: 1rem;

       &:hover{
           cursor: pointer;
       }
    }

    &__svg{
       height: 100%;
       width: 100%;
       fill: #ffffff;
       opacity: .7;

       &:hover{
           opacity: .9;
           transition: .3s ease;
       }
   }
}
.works{
    width: 100%;
    float: left;
    height: 100vh;
    margin-top: 1rem;
    background: #f8f9f5;
    min-height: 40.5rem;

    @include tablet{
        height: 100vh;
    }

    @include phone{
        height: 100vh;
    }

    // Slide info
    &__slide-info{
        width: 50%;
        height: 100%;
        float: left;
        position: relative;
        background: #ebefe2;
        overflow: hidden;
    }
    
    .slide-info-big-screen{
        
        @include tablet{
            display: none;
        }

        @include phone{
            display: none;
        }
    }

    .slide-info-small-screen{
        display: none;

        @include tablet{
            display: block;
            height: 35%;
            width: 100%;
        }

        @include phone{
            display: block;
            height: 35%;
            width: 100%;
        }
    }

    &__container{
        margin: auto;
        width: 20rem;
        height: 16.5rem;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        font-family: "Roboto";
        text-transform: uppercase;

        @include tablet{
            width: 80%;
            height: 14rem;
        }

        @include phone{
            width: 80%;
            height: 10rem;
        }
        
        span{
            display: block;
            margin-bottom: 3.75rem;

            @include tablet{
                width: 100%;
            }

            @include phone{
                width: 100%;
                margin-bottom: 2rem;
            }
        }
    }

    &__slide-name{
        font-size: 2rem;
        font-family: "Sansus";
        text-align: center;
        font-weight: 400;
        font-style: normal;
        color: #566358;
        position: relative; 

        @include phone{
            font-size: 1.4rem;
        }

        &:after{
            @include phone{
                bottom: -1rem;
            }
        }
    }

    &__technologies{
        color: #4e8839;
        text-align: center;
        font-size: 1rem;
        width: 100%;
        font-family: "Roboto-Bold";

        @include phone{
            margin-bottom: 1rem !important;
        }
    }

    &__watch-button{
        height: 2.8rem;
        font-size: 0.8rem;
        background: #6c9c5a;
        color: #ffffff;
        width: 12.5rem;
        float: left;
        margin-left: calc(50% - 6.25rem);
        line-height: 2.8rem;
        padding: 0 1.25rem;
        border-radius: 1.25rem;
        text-decoration: none;

        &:hover{
            background: #5f8d4e;
            transition: .3s ease-in;
        }

        & i{
            margin-right: 0.43rem;
            font-size: 1.25rem;
        }
    }

    // Slider
    &__slider{
        float: right;
        height: 100%;
        background: #e1e4d7;
        width: 50%;

        @include tablet{
            width: 100%;
        }

        @include phone{
            width: 100%;
        }

        .slider-nav__list{
            list-style: none;
            margin: 0;
            padding:0;
            width: 100%;
            height: 100%;
        }

        .slider-nav__item{
            position: absolute;
            top: -100%;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;

            &.active{
                top: 0;
            }

            &.slider-nav__item-up{
                top: 100%;

                &.active{
                    top: 0;
                }
            }
        }
    }

    &__current-slide{
        height: 70%;
        float: left;
        width: 100%;
        position: relative;
        overflow: hidden;

        @include tablet{
            height: 45%;
        }

        @include phone{
            height: 45%;
        }
    }

    .current-slide__list{
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .current-slide__item{
        position: absolute;
        bottom: 0;
        top: 0;
        left: 100%;
        right: 0;

        &.active{
            left: 0;
        }
    }

    .slider-info__list{
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        height: 100%;
    }

    .slider-info__item{
        position: absolute;
        left: 150%;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;

        &.active{
            left: 0;
        }
    }

    .current-slide{
        width: 37vw;
        max-width: 21.25rem;
        margin: auto;
        display: block;
        position: absolute;
        top: 0;bottom: 0;right: 0;left: 0;

        @include tablet{
            width: 28vh;
            max-width: 21.75rem;
        }

        @include phone{
            width: 28vh;
            max-width: 21.75rem;
        }
    }

    &__image{
        height: 100%;
        position: relative;
    }

    // Navigation
    &__navigation{
        height: 30%;
        width: 100%;
        float: left;

        @include tablet{
            height: 20%;
        }

        @include phone{
            height: 20%;
        }
    }

    &__previous{
        float: left;
    }

    &__next{
        float: right;
    }

    &__previous,  &__next{
        width: 50%;
        height: 100%;
        position: relative;
        overflow: hidden;

        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            opacity: .6;
            width: 100%;
            height: 100%;
            background: #9da299;
            z-index: 1;
        }
        
        &:hover:after{
            opacity: .8;
            cursor: pointer;
            transition: .3s ease-in-out;
        }

        & img{
            display: block;
            margin: auto;
            width: 21vw;
            max-width: 9rem;
            position: absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;

            @include tablet{
                width: 15vw;
                max-width: 8rem;
            }

            @include phone{
                width: 24vw;
                max-width: 8rem;
            }
        }


        & svg{
            position: absolute;
            width: 2.75rem;
            height: 1.75rem;
            margin: 0 auto;
            left: 50%;top:50%;
            margin: -0.875rem 0 0 -0.875rem;
            z-index: 2;
            fill: #ffffff;
            opacity: .6;
        }
        &:hover svg{
            opacity: .9;
            cursor: pointer;
        }
    }
}
.about-me{
    float: left;
    height: 88rem;
    width: 100%;
    overflow: hidden;
    background: url("/assets/img/backgrounds/what_about_bg.png");
    background-size: cover;
    position: relative;

    @include phone{
        height: 125rem
    }

    &__block-title{
        height: 15.6rem;
        width: 28rem;
        margin: 0 auto;

        & .title{
            position: relative;
            font-family: "Sansus";
            font-size: 4rem;
            margin: 0;
            padding: 3.5rem 0 0 0;
            text-align: center;
            max-width: 100vw;
            width: 100%;
            color: #373e42;
            text-transform: uppercase;

            @include phone{
                font-size: 3rem;
            }
        }
        & .svg-title{
            position: absolute;
            top: 2%;
            width: 100%;
            height: 14%;
            left: 0;
            fill: #93c42e;
            opacity: .1;
        }
    }

    &__comments{
        padding-top: 0.8rem;
        width: 50rem;
        margin: 0 auto;
        margin-bottom: 4.6rem;
    }

    &__first-comment{
        float: left;
        padding-left: 1.5rem
    }

    &__second-comment{
        float: left;
        margin-left: 1.25rem;
        padding-right: 1.5rem;
    }

    &__first-comment, &__second-comment{
        width: 23.75rem;

        margin-bottom: 3rem;

        @include phone{
            float: none;
            width: 100vw;
            padding-right: 1.5rem; 
        }

        &:last-child{
            margin-bottom: 0;
        }

        &:before{
            content: '';
            background: url();
        }

        .comment-avatar-holder{
            margin: 0 auto;
            height: 4.8rem;
            width: 4.8rem;
            margin-bottom: 1.25rem;
            border-radius: 50%;
            overflow: hidden;
        }
        .comment{
            color: #2d2c2c;
            font-family: "Roboto-Italic";
            font-size: 1rem;
            line-height: 1.5rem;
            float: left;

            &__text{
                float: left;
            }

            &__author{
                padding-top: 1.25rem;
                font-family: "Roboto-BoldItalic";
                color: #4e8839;
                width: 100%;
                float: left;
                text-align: center;
            }

            &__position{
                width: 100%;
                float: left;
                text-align: center;
            }
        }
    }
}
// Contact
.contact-wrap{
    width: 23.75rem;
    height: 28.8rem;
    overflow: auto;
    margin: auto;
    box-sizing: border-box;
    font-family: Roboto;
    position: relative;

    @include phone{
        width: 19rem;
    }

.contact-box{
    height: 26rem;
    float: left;
    background: rgba(#e0e0dc, 0.6);
    color: #566358;
    padding: 1.75rem 1.25rem 1.25rem 1.25rem;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

  & .login-form{
    & input[type="text"],& input[type="password"], & input[type="textarea"]{
        width: 100%;
        border: none;
        margin-bottom: 1.25rem;
        height: 2.8rem;
        border-radius: 1.8rem;
        font-size: 1rem;
        padding-left: 2.5rem;
        overflow: hidden;
        float: right;
    }
    & #message{
        padding: 0.8rem 1.1rem;;
        width: 100%;
        font-size: 1rem;
        border-radius: 1.25rem;
        height: 8.75rem;
        resize: none;
        border: none;
    }
  }
}
  & h2{
        font-size: 2rem;
        margin: 0 0 3.6rem 0;
        font-family: Sansus, sans-serif;
        text-align: center;
        position: relative;
        text-transform: uppercase;

        @include phone{
            font-size: 1.6rem;
        }
  }
.login-form-buttons{
    width: 100%;
    height: 2.8rem;
    margin: auto;
    position: absolute;
    left: 0;
    bottom: 0;

    & .login-form-button{
        border: none;
        background: #6c9c5a;
        float: left;
        width: 11.87rem;
        height: 2.8rem;
        color: #FFF;
        cursor: pointer;
        opacity: .85;

        @include phone{
            width: calc(100%/2 - 1px);
        }

      &:first-child{
        border-right: 1px solid #92b090;
        border-bottom-left-radius: 10px;
      }
      &:last-child{
        border-left: 1px solid #92b090;
        border-bottom-right-radius: 0.6rem;
      }
     &:hover{
       background: #4e8839;
       transition: .3s ease;
     }
    }
}
}
.arrow-up{
    margin-top: 4rem;
    width: 1.5rem;
    height: 1rem;
    margin-right: auto;
    margin-left: auto;

    &__link{
        float: left;
        height: 1rem;
        width: 1.5rem;
        opacity: .7; 

        &:hover{
            opacity: .9;
            transition: .3s ease;
            cursor: pointer;
        } 
    }

    &__svg{
        height: 100%;
        width: 100%;
        fill: #ffffff;   
    }
}
