extends ../_template

block variables
  - var title_public = 'Мои работы'
  - var title_private = 'works'
  - var frontend = ['HTML5', 'CSS3', 'Javascript & JQuery']
  - var backend = ['PHP', 'mySQL', 'Node.js & npm', 'Mongo.db']
  - var workflow = ['Git', 'Gulp', 'Bower']

block content
  include ../common/_works